<!DOCTYPE html>
<html>
  <head>
    {% load static %}
    <meta charset="utf-8" />
    <title>Bool Query</title>
    <link
      rel="icon"
      href="{% static 'images/shakespeare.ico' %}"
      type="image/x-icon"
    />
  </head>
  <body>
    <div class="center" style="width: 50%; margin: auto">
      <form action="/search/" method="post" style="width: 100%">
        {% csrf_token %}
        <input
          type="text"
          name="query"
          style="
            width: 80%;
            font-size: 20px;
            font-family: 'Microsoft soft';
            padding: 7px;
            border: 1px solid #ccc;
            border-radius: 3px;
          "
        />
        <input
          type="submit"
          value="搜索"
          style="
            width: 9%;
            font-size: 20px;
            font-family: 'Microsoft soft';
            padding: 7px;
          "
        />
      </form>
      {% if query.strip %}
      <p>查询词条：{{ query.strip }}</p>
      <p>
        分词结果：{% for word in parser_result %} {{ word.strip }} {% empty %}
        空空如也～ {% endfor %}
      </p>
      <div>
        查询结果：
        <ul>
          {% for document in result %}
          <li>
            {{ document.index }}
            <a href="{% url 'document' document.file %}">
              {{ document.title.strip }}
            </a>
          </li>
          {% empty %} 空空如也～ {% endfor %}
        </ul>
      </div>
      {% endif %}
    </div>
  </body>
</html>
