<!DOCTYPE html>
<html>
  <head>
    {% load static %}
    <meta charset="utf-8" />
    <title>Shakespeare Search Engine</title>
    <link
      rel="icon"
      href="{% static 'images/shakespeare.ico' %}"
      type="image/x-icon"
    />
  </head>
  <body>
    <form action="/search/" method="post">
      {% csrf_token %}
      <input type="text" name="query" />
      <input type="submit" value="搜索" />
    </form>

    <p>{{ query }}</p>
    <ul>
      {% for document in result %}
      <li>
        <a href="{% url 'document' document.document_id %}">
          {{ document.title }}
        </a>
        ——{{ document.count }}次
      </li>
      {% empty %} 空空如也～ {% endfor %}
    </ul>
  </body>
</html>
